<section class="hero">
    <div class="container">
        <div class="hero__content">
            <h1 class="hero__title">Find your image</h1>
            <p class="hero__text">Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/img/hero/letteras.jpg" alt="letters" class="swiper__image">
                </div>
                <div class="swiper-slide">
                    <img src="/img/hero/wood.jpg" alt="wood" class="swiper__image">
                </div>
                <div class="swiper-slide">
                    <img src="/img/hero/painting.jpg" alt="painting" class="swiper__image">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>